body {
    margin: 0;
    padding: 0; /* Optional: also removes any default browser padding */
}

.hero {
    text-align: center;
    background-image: url('alien-landscape-wallpaper-4k-starry-sky-amoled.jpg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    color: white;
    text-align: center;
    padding-top: 150px;
    
}
.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 0px; /* Makes it rectangular */
    align-items: center;
    margin-top: 5%;
   
}
.cta-button:hover {
    background-color: transparent;
    color: white;
}
html { 
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: black;
    
   
}

h2 {
    color: white;
}

h3, h4 { 
    color: black;
} 
h2 {
    font-size: 60px;
   
    padding-top: 10%;
margin: 10px;

}

h3 {
    text-align: center;
  

}
button {
 display: block;
 margin: auto;
 margin-bottom: 80px;
}



nav a {
    text-decoration: none;
    color: b;
    font-size: 18px;
}
.gallery img{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
   
}

.gallery {
    display: flex;
    justify-content: center;
   text-align: center; 

}

.category-page-image {
    
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
}
/*
.categories {
    display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
}

.category preview {
     width: 100vw;
    height: 80vh;
    flex-shrink: 0;
    scroll-snap-align: start;
}
    */


.need {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.categories {
    display: flex;
    flex: grid;
    background-color: orange; 
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-between;
align-content: center;

   
}
.categories img {
     width: 250px;
    height: 150px;
   margin-right: 10px;
   margin-left: 10px;
   
   
}

.pick{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.pick img{
    width: 30%;
    height: 300px;
    object-fit: cover;
    display: block;
}